
<div>
   
    <dialog id="my-dialog" @onclick="OnClose" @oncancel="OnCancel">
        <p> Hi</p>
        <form method="dialog">
            <button>Close</button>
            <button>Cancel</button>

        </form>
    </dialog>
</div>

@code {
    string ? message;
    void OnClose(EventArgs e) => message += "onclosehello,";
    void OnCancel(EventArgs e) => message += "oncancel,";
}

